/* Chat components */
@layer components {
  .avatar {
    --size: calc(var(--event-font-size) * 1.25);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    margin-top: -0.125lh;
  }

  .username {
    font-weight: 600;
    color: #effee3;
    margin-right: calc(var(--1px) * 5);

    .guard-type-1 & {
      color: #ff96aa;
    }

    .guard-type-2 & {
      color: #e7a9ff;
    }

    .guard-type-3 & {
      color: #96deff;
    }
  }

  .price {
    color: #ffc107;
    font-weight: bold;
    margin: 0 calc(var(--1px) * 5);
  }

  .event {
    font-size: var(--event-font-size);
    font-weight: 600;
    color: #fff;
    word-break: break-word;
    text-shadow: 0 calc(var(--1px) * 1) calc(var(--1px) * 2) rgba(0, 0, 0, 1);
  }
}
