/*
 * Default Order: @layer theme, base, components, utilities;
 * https://tailwindcss.com/docs/theme
 */
@import 'tailwindcss';
@import 'tw-animate-css';

/* Themes */
@import './kladewind.css';
@import './schemes.css';

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Extends tailwind css layers */
/* https://tailwindcss.com/docs/preflight */
@layer kladenets, kladewind, template, remote-css, custom-css;

/* Force Chinese font to avoid fallback to random system font with lang tag in html specified */
@theme inline static {
  --font-sans:
    ui-sans-serif, system-ui, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', Arial, sans-serif;
  --font-logo: 'Barlow Condensed', 'Barlow Condensed Fallback', var(--font-sans);
}

@layer base {
  html,
  body {
    max-width: 100vw;
    font-family: var(--font-sans);
    font-size: 16px;
  }

  body {
    color: var(--color-fg);
    /* -webkit-font-smoothing: antialiased; */
    /* background color controled by pages */
    /* background-color: var(--bg-color); */
    background-color: transparent;

    /* Disable text selection by default for Electron */
    user-select: none;
  }

  /* Specific optimizations for animated elements */
  [class*='animate-'],
  [class*='transition-'] {
    will-change: transform, opacity;
  }
}

/* .content {
  height: calc(100vh - 32px);
  background-color: rgba(20, 20, 20, 0.9);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
} */

/* .chat-title {
  color: white;
  font-size: 16px;
  line-height: 1;
} */
/*
.chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
} */

/* Message Type Styles */
/* .no-messages {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 40px 20px;
} */

/* Auto-scroll for new messages */
/* .chat-messages {
  scroll-behavior: smooth;
} */

/* Chat components */
@layer components {
  .avatar {
    width: 1lh;
    height: 1lh;
    border-radius: 50%;
  }

  .username {
    font-weight: 600;
    color: #effee3;
    margin-right: 5px;

    .guard-type-1 & {
      color: #ff96aa;
    }

    .guard-type-2 & {
      color: #e7a9ff;
    }

    .guard-type-3 & {
      color: #96deff;
    }
  }

  .text {
    color: #fff;
  }

  .price {
    color: #ffc107;
    font-weight: bold;
    margin: 0 5px;
  }

  .event {
    /* background-color: rgba(255, 255, 255, 0.1); */
    font-size: 20px;
    border-radius: 6px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    word-break: break-word;

    &.system {
      background-color: rgba(33, 150, 243, 0.2);
      border-left: 3px solid #2196f3;
    }

    &.message {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &.interaction {
      font-size: 18px;
      opacity: 0.6;
    }

    &.superchat {
      background-color: rgba(255, 152, 0, 0.2);
      border-left: 3px solid #ff9800;
    }

    &.gift {
      background-color: rgba(233, 30, 99, 0.2);
      border-left: 3px solid #e91e63;
    }

    &.entry-effect {
      background-color: rgba(0, 188, 212, 0.2);
      border-left: 3px solid #00bcd4;
      padding-left: 6px;
      display: flex;
      align-items: center;
      gap: 5px;

      .avatar {
        width: 0.6lh;
        height: 0.6lh;
      }

      &.guard-type-1 {
        background-color: rgba(255, 0, 64, 0.2);
        border-left: 3px solid #ff5f5f;
      }

      &.guard-type-2 {
        background-color: rgba(226, 30, 233, 0.2);
        border-left: 3px solid #e59bfb;
      }

      &.guard-type-3 {
        background-color: rgba(0, 188, 212, 0.2);
        border-left: 3px solid #73efff;
      }
    }

    &.like-click {
      .text {
        color: #ffd455;
      }
    }
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
