/*
 * Default Order: @layer theme, base, components, utilities;
 * https://tailwindcss.com/docs/theme
 */
@import 'tailwindcss';
@import 'tw-animate-css';

/* Themes */
@import './kladewind.css';
@import './schemes.css';

/* Components */
@import './components/events.css';

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Extends tailwind css layers */
/* https://tailwindcss.com/docs/preflight */
@layer kladenets, kladewind, template, remote-css, custom-css;

/* Force Chinese font to avoid fallback to random system font with lang tag in html specified */
@theme inline static {
  --font-sans:
    ui-sans-serif, system-ui, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', Arial, sans-serif;
  --font-logo: 'Barlow Condensed', 'Barlow Condensed Fallback', var(--font-sans);
}

@layer base {
  html,
  body {
    max-width: 100vw;
    font-family: var(--font-sans);
    font-size: 16px;
  }

  body {
    color: var(--color-fg);
    /* -webkit-font-smoothing: antialiased; */
    /* background color controled by pages */
    /* background-color: var(--bg-color); */
    background-color: transparent;

    /* Disable text selection by default for Electron */
    user-select: none;
  }

  /* Specific optimizations for animated elements */
  [class*='animate-'],
  [class*='transition-'] {
    will-change: transform, opacity;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

@layer template {
  :root {
    /* laplace-chat event specific */
    --1px: calc(var(--event-font-size, 20px) * 0.0625);
    --event-line-height: calc(var(--event-font-size, 20px) * 1.5);
    --event-line-height-base: 1.15;
  }
}

@layer custom-css {
  :root {
    --event-font-size: 20px;
  }
}
